@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url("fonts/NotoSans-Regular.woff2") format("woff2"),
    url("fonts/NotoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    url("fonts/NotoSans-Italic.woff2") format("woff2"),
    url("fonts/NotoSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    url("fonts/NotoSans-Medium.woff2") format("woff2"),
    url("fonts/NotoSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    url("fonts/NotoSans-SemiBold.woff2") format("woff2"),
    url("fonts/NotoSans-SemiBold.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Noto Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #283c54;
  min-width: 1280px;
}

/* Доступное скрытие элементов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

._container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 55px;
}

section h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 45px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #163152;
}

section h2::after {
  content: "";
  margin-top: 10px;
  border-bottom: 2px solid #00c6bd;
}

/* ------------------------------------HEADER------------------------------------ */

.header__nav {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 10px 0;
  margin: 0 40px 0 auto;
  list-style: none;
}

.navigation__item:not(:last-child) {
  margin-right: 30px;
}

.navigation__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #163152;
  text-decoration: none;
}

.navigation__link:hover,
.navigation__link:focus {
  opacity: 0.7;
  outline: none;
}

.navigation__link:active {
  opacity: 0.5;
}

.navigation__signin:hover,
.navigation__signin:focus {
  opacity: 0.7;
}

.snavigation__signin:active {
  opacity: 0.5;
}

/* ------------------------------------SECTION PROMO-------------------------------- */

.promo {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 30px;
  padding-top: 25px;
}

.promo__title {
  grid-row: 1 / 3;
  grid-column: 2 / 6;
  z-index: 1;
  margin: 0;
  font-weight: 400;
  font-size: 44px;
  font-style: italic;
  line-height: 60px;
  letter-spacing: 0.03em;
  color: #163152;
  text-transform: uppercase;
}

.promo__title span {
  color: #FDFDFF;
}

.promo__slider {
  grid-row: 2 / -1;
  grid-column: 1 / -2;
  display: flex;
  width: 1070px;
  overflow: hidden;
}

.promo__buttons-container {
  display: flex;
  grid-row: 3 / 4;
  grid-column: 10 / 12;
  margin-left: auto;
}

.promo__more {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  margin-bottom: 15px;
  text-decoration: none;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FDFDFF;
  padding: 20px 0px 20px 0px;
  background: url("images/circle-down.svg") 110px 10px/ 31px 31px no-repeat;
}

.promo__navigation-list {
  grid-row: 1 / -1;
  grid-column: 12 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo__navigation-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #163152;
  text-decoration: none;
  writing-mode: vertical-rl;
}

.promo__navigation-link:hover,
.promo__navigation-link:focus {
  opacity: 0.7;
}

.promo__navigation-link:active {
  opacity: 0.5;
}

.promo__navigation-list:not(:last-child) {
  margin-bottom: 20px;
}

.promo__button {
  padding: 40px;
  border: none;
  cursor: pointer;

}

.promo__button--prev {
  background: #FDFDFF url("images/arrow-left.svg") no-repeat center;
}

.promo__button--next {
  background: #FDFDFF url("images/arrow-right.svg") no-repeat center;
}

.promo__button:hover,
.promo__button:focus {
  opacity: 0.7;
}

.promo__button:active {
  opacity: 0.5;
}

.promo__more:hover,
.promo__more:focus {
  opacity: 0.7;
}

.promo__more:active {
  opacity: 0.5;
}

/* ----------------------------------BLOG----------------------------------- */

.blog {
  padding-top: 100px;
}

.blog__articles {
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog__article {
  display: flex;
  margin-bottom: 100px;
}

.article__text {
  padding: 45px 70px 10px;
}

.article__more {
  order: 1;
}

.article__image {
  order: 2;
}



.blog__article>div {
  display: flex;
  flex-direction: column;
}

.blog__article--reverse {
  display: flex;
  text-align: right;
}

.blog__article--reverse h3 {
  align-items: flex-end;
}

.blog__article--reverse .article__more {
  margin: auto 20px 45px 70px;
}

.blog__article--reverse .article__image {
  order: 0;
}

.blog__article--reverse .article__more {
  order: 1;
}

.blog__article--reverse .article__text {
  order: 2;
}

.article__date {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #163152;
  margin: 0;
}

.article__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #163152;
  display: flex;
  flex-direction: column;
}

.article__title::after {
  content: "";
  width: 130px;
  margin-top: 10px;
  border-bottom: 2px solid #00c6bd;
}

.article__paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283C54;
}

.article__circle {
  width: 58px;
  height: 58px;
  margin: auto 70px 45px 20px;
  border: 1px solid #163152;
  border-radius: 50%;
  background: url("images/arrow-right.svg") center no-repeat;
}

.blog__article--reverse .article__circle {
  transform: rotate(180deg);
  margin: auto 20px 45px 70px;
}

.article__circle:hover,
.article__circle:focus {
  opacity: 0.7;
}

.article__circle:active {
  opacity: 0.5;
}

/* ------------------------ RENT ------------------------- */

.rent {
  padding: 5px 0px 20px 0px;
}

.rent h2::after {
  width: 140px;
}

.rent__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 40px 0 0 0;
  list-style: none;
}

.rent__item {
  max-width: 370px;
  margin-right: 30px;
}

.rent__item:last-child {
  margin-right: 0;
}

.rent__card {
  padding: 30px 30px 15px 30px;
}

.rent__features {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rent__card h3 {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #163152;
  text-align: center;
}

.rent__description {
  margin: 10px 0 15px 0;
  font-size: 14px;
  line-height: 24px;
  color: #283c54;
}

.rent__features li {
  position: relative;
  padding-left: 15px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 19px;
  color: #283c54;
}

.rent__features li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00c6bd;
}

.rent__price {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #163152;
}

/* ------------------------ VIDEO --------------------- */

.video {
  padding-top: 90px;
  padding-bottom: 20px;
}

.video h2::after {
  width: 170px;
}

.video__list {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 50px 70px 0;
  list-style: none;
  width: 1030px;
  height: 360px;
  overflow: hidden;
}

.video-item video {
  width: 400px;
  height: 265px;
}


.video__item-active {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video__item-active video {
  width: 630px;
  height: 360px;
}


.video__play {
  position: absolute;
  display: none;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #fdfdff url("images/play.svg") center no-repeat;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.video__item-active .video__play {
  display: block;
}

.video__play:hover,
.video__play:focus {
  opacity: 0.7;
}

.video__play:active {
  opacity: 0.5;
}

/* ----------------- SERVICES ------------------ */

.services {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-rows: repeat(3, auto);
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 70px;
}

.services h2 {
  align-items: flex-start;
  margin-bottom: 25px;
}

.services h2::after {
  width: 130px;
}

.services>p {
  grid-column: 1 / 2;
  margin: 0 50px 20px 0;
}

.services img {
  grid-column: 1 / 2;
}

.services__list {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 50px 25px;
  list-style: none;
  padding: 0;
  margin: 0 0 0 100px;
}

.services__item {
  position: relative;
  width: 255px;
  padding-top: 75px;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 1px solid #00c6bd;
  border-radius: 50%;
  box-sizing: border-box;
}

.services__item-dish::before {
  background-image: url("images/dish.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.services__item-drinks::before {
  background-image: url("images/glass.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.services__item-bed::before {
  background-image: url("images/double_bed.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.services__item-help::before {
  background-image: url("images/hands.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.services__item h3 {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #163152;
}

.services__item p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #283c54;
}

/* ---------------- NEWS --------------- */

.news {
  padding-top: 100px;
  padding-bottom: 45px;
}

.news h2::after {
  width: 110px;
}

.news__list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 25px 30px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.news__item-big {
  grid-row: span 2;
}

.news__article {
  display: grid;
  width: 370px;
}

.news__item-big .news__article {
  width: 770px;
}

.news__article a {
  color: inherit;
  text-decoration: none;
}

.news__article a:hover {
  opacity: 0.7;
}

.news__article a:active {
  opacity: 0.5;
}

.news__article-img {
  margin: 0;
  grid-row-start: 1;
}

.news__article-img figcaption {
  margin: 5px 20px 0 20px;
}

.news__article h3 {
  margin: 15px 0 10px 20px;
}

.news__article p {
  margin: 0 20px 5px 20px;
}

.news__article-footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "img author share"
    "img time share";
  align-items: center;
  grid-column-gap: 10px;
  padding: 15px 20px 20px;
  font-size: 12px;
  line-height: 16px;
}

.news__article-author-img {
  grid-area: img;
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

.news__article-footer a {
  font-weight: 600;
}

.news__article-footer a:hover {
  opacity: 0.7;
}

.news__article-footer a:active {
  opacity: 0.5;
}

.news__article-footer time {
  color: rgba(40, 60, 84, 0.5);
}

.news__share {
  grid-area: share;
  width: 28px;
  height: 17px;
  background-image: url("images/share.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.news__item-big h3 {
  margin: 20px 0 15px 40px;
  font-size: 22px;
  line-height: 30px;
  line-height: 19px;
  color: #163152;
}

.news__item-big figcaption {
  margin: 10px 0 0 40px;
  font-size: 14px;
  line-height: 19px;
  line-height: 14px;
  color: rgba(40, 60, 84, 0.5);
}

.news__article p {
  margin: 0 20px 5px 20px;
  font-size: 14px;
  line-height: 18px;
  height: 55px;
  color: #283c54;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news__item-big p {
  margin: 0 100px 15px 40px;
  font-size: 18px;
  line-height: 26px;
  height: 80px;
}

.news__item-big .news__article-footer {
  padding: 15px 40px 40px;
  grid-column-gap: 15px;
  font-size: 16px;
  line-height: 19px;
}

.news__item-big .news__article-author-img {
  width: 60px;
  height: 60px;
}

.news__item-big .news__share {
  width: 26px;
  height: 26px;
}

/* -------------------CALENDAR------------------- */

.calendar {
  padding-top: 75px;
  padding-bottom: 20px;
}

.calendar h2 {
  align-items: flex-start;
}

.calendar h2::after {
  width: 370px;
}

.calendar__striped-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 25px;
}

.table th {
  padding: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #163152;
  text-align: left;
  vertical-align: top;
}

.table tr:nth-child(even) {
  background-color: #f5f5f7;
}

.table__name {
  width: 285px;
}

.table__date {
  width: 230px;
}

.table__member {
  width: 275px;
}

.table__category {
  width: 185px;
}

.table td {
  padding: 17px 20px;
  font-size: 16px;
  line-height: 22px;
  color: #283c54;
}



/* -------------------FORM------------------- */

.feedback {
  padding-top: 105px;
  padding-bottom: 20px;
}

.feedback__wrapper {
  display: flex;
}

.feedback__column:first-child {
  padding-left: 70px;
  padding-right: 70px;
}

.feedback h2 {
  align-items: flex-start;
  margin-bottom: 30px;
}

.feedback h2::after {
  width: 270px;
}

.feedback p {
  margin: 0 0 30px 0;
  font-size: 16px;
  line-height: 22px;
  color: #283c54;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__form button {
  padding: 13px 30px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #fdfdff;
  background-color: #00c6bd;
  border: none;
}

.feedback__form label {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #283c54;
}

.feedback__form input {
  margin-bottom: 20px;
  font-weight: inherit;
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #283c54;
  border: 1px solid rgba(22, 49, 82, 0.15);
}

.feedback__form input::placeholder {
  opacity: 0.4;
}

.feedback__form .checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 12px;
  line-height: 16px;
  color: #283c54;
}

.feedback__form .checkbox-label::before {
  content: "";
  width: 19px;
  height: 19px;
  margin: 1px 10px 1px 1px;
  outline: 1px solid rgba(22, 49, 82, 0.15);
  box-sizing: border-box;
}

.feedback__form input[type="checkbox"]:checked+.checkbox-label::before {
  background-color: #00c6bd;
  border: 3px solid #ffffff;
}

/* ----------------------CONTACTS---------------- */

.contacts {
  padding-top: 90px;
  padding-bottom: 115px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.contacts__column {
  margin-right: 100px;
}

.contacts h2 {
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 20px;
}

.contacts h2::after {
  width: 100px;
}

.contacts__list {
  margin: 0;
}

.contacts__list div:not(:last-child) {
  display: flex;
  margin-bottom: 15px;
}

.contacts__name {
  margin-right: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #163152;
}

.contacts__value {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #283c54;
}

.contacts__value address {
  font-style: normal;
}

.contacts__value a {
  color: inherit;
  text-decoration: none;
}

.contacts__social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0;
  margin: 15px 0 0 0;
  list-style: none;
}

.contacts__social-list-item {
  margin-right: 15px;
}

.contacts__social-list-item:last-child {
  margin-right: 0;
}

.contacts__social-list-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #00c6bd;
  box-sizing: border-box;
}

.contacts__social-list-item a:hover,
.contacts__social-list-item a:focus {
  opacity: 0.7;
}

.contacts__social-list-item a:active {
  opacity: 0.5;
}


/* ---------------------FOOTER--------------------- */

.main__footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid rgba(22, 49, 82, 0.1);
}

.footer__column {
  width: 240px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

.footer__links {
  padding: 0;
  margin: 0;
  display: flex;
}

.footer__links div {
  display: flex;
  flex-direction: column;
  margin-right: 145px;
}

.footer__links div:last-child {
  margin-right: 0;
}

.footer__links dt {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #163152;
}

.footer__links dd {
  padding: 0;
  margin: 0;
}

.footer__link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__link-list li {
  margin-bottom: 5px;
}

.footer__link {
  font-size: 14px;
  line-height: 19px;
  color: #283c54;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:focus {
  opacity: 0.7;
}

.footer__link:active {
  opacity: 0.5;
}

.policy {
  font-size: 10px;
  line-height: 14px;
  color: #283c54;
  text-decoration: none;
}

.policy:hover,
.policy:focus {
  opacity: 0.7;
}

.policy:active {
  opacity: 0.5;
}

.copyright {
  margin: 8px 0;
  font-size: 10px;
  line-height: 14px;
  color: #283c54;
}